body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #141414;
  color: #fff;
}

.App {
  padding: 30px;
  text-align: center;
}

.app-title {
  color: #e50914;
  font-size: 2rem;
  margin-bottom: 20px;
}
